<section class="list-module-container">
  <app-search-form [searchForm]="searchForm" (search)="search($event)">
  </app-search-form>
  <section class="container">
    <section class="list-header">
      <app-list-header-item
        *ngFor="let heading of headings"
        [heading]="heading"
        (sortTable)="sortTable($event)"
      ></app-list-header-item>
    </section>

    <section cdkDropList (cdkDropListDropped)="drop($event)">
      <app-list-row [users]="users$ | async"> </app-list-row>
    </section>
  </section>
</section>
