table{
    border-collapse: collapse;
    width: 80vw;
}

th {
    padding: 8px;
    text-align: left;
    background-color: #0475c0;
    color: white;
    width:80vw;
  }

  .cdk-drag-placeholder{
      display:none;
  }

  