<app-search-form
  [searchForm]="searchForm"
  (search)="search($event)"
>

</app-search-form>
<table>
  <thead>
    <tr>
      <th *ngFor="let heading of headings" (click)="sortTable(heading)" tooltip="Click to sort" #myTooltip="tooltip" >{{heading | titlecase}}
        <span
        (mouseover)="myTooltip.show()"
        (mouseout)="myTooltip.hide()"
        >
        (?)
        </span></th>
    </tr>
  </thead>
  <tbody cdkDropList (cdkDropListDropped)="drop($event)">
    <app-table-row style="display:contents"
    [users]="(users$ | async)"
    >
    </app-table-row>
  </tbody>
</table>
